src/main/resources/CustomerOrders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.mi9dev.com/CustomerOrders/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOrdersService"
	targetNamespace="http://www.mi9dev.com/CustomerOrders/">
	<wsdl:types>
		<xsd:schema xmlns:tns="http://www.mi9dev.com/CustomerOrders/"
			targetNamespace="http://www.mi9dev.com/CustomerOrders/"
			elementFormDefault="qualified">

			<xsd:complexType name="order">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element maxOccurs="unbounded" name="product" type="tns:product" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="product">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="id" type="xsd:string" />
					<xsd:element minOccurs="0" name="description" type="xsd:string" />
					<xsd:element minOccurs="0" name="quantity" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="getOrdersRequest" type="tns:getOrdersRequest" />

			<xsd:element name="getOrdersResponse" type="tns:getOrdersResponse" />

			<xsd:complexType name="getOrdersRequest">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="customerId" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getOrdersResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="order"
						type="tns:order" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="createOrdersRequest" type="tns:createOrdersRequest" />

			<xsd:element name="createOrdersResponse" type="tns:createOrdersResponse" />

			<xsd:complexType name="createOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer" />
					<xsd:element name="order" type="tns:order" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="createOrdersResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getOrdersRequest">
		<wsdl:part element="tns:getOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getOrdersResponse">
		<wsdl:part element="tns:getOrdersResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="createOrdersRequest">
		<wsdl:part element="tns:createOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createOrdersResponse">
		<wsdl:part element="tns:createOrdersResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="CustomerOrders">
		<wsdl:operation name="getOrders">
			<wsdl:input message="tns:getOrdersRequest" />
			<wsdl:output message="tns:getOrdersResponse" />
		</wsdl:operation>

		<wsdl:operation name="createOrders">
			<wsdl:input message="tns:createOrdersRequest" />
			<wsdl:output message="tns:createOrdersResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerOrdersSOAP" type="tns:CustomerOrders">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getOrders">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="createOrders">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerOrdersService">
		<wsdl:port binding="tns:CustomerOrdersSOAP" name="CustomerOrdersSOAP">
			<soap:address location="http://localhost:8080/webservices-approach-topdown/services/customerOrders" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
